{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{{ attach_library('google_translate/core') }}
{{ attach_library('google_translate/google') }}
{% set classes = [
    'clear-both',
] %}
<div{{ attributes.addClass(classes) }}>
   <div id="google_translate_element"></div>
</div>
